<footer>
    <div id="lgx-footer" class="lgx-footer"> <!--lgx-footer-white-->
        <div class="lgx-inner-footer">
            <!--<div class="lgx-subscriber-area ">
                <div class="container">
                    <div class="lgx-subscriber-inner">  -lgx-subscriber-inner-indiv
                        <h3 class="subscriber-title">Join Newsletter</h3>
                        <form class="lgx-subscribe-form" >
                            <div class="form-group form-group-email">
                                <input type="email" id="subscribe" placeholder="Enter your email address  ..." class="form-control lgx-input-form form-control"  />
                            </div>
                            <div class="form-group form-group-submit">
                                <button type="submit" name="lgx-submit" id="lgx-submit" class="lgx-btn lgx-submit"><span>Subscribe</span></button>
                            </div>
                        </form> <!--//.SUBSCRIBE--S
                    </div>
                </div>
            </div>-->
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                        <a class="logo" href="/"><img src="/assets/img/logo_fr.png" alt="Logo" width="200px" height="200px"></a>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Réseaux sociaux</h3>
                        <p class="text">
                            Rejoignez-nous aussi sur les reseaux <br> pour suivre toutes nos actualités
                        </p>
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            
                        </ul>
                    </div>
                    <div class="lgx-footer-single">
                        <h2 class="footer-title">Instagram</h2>
                        <div id="instafeed">
                        </div>
                    </div>
                </div>

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p> <span>©</span> Prix Sarraounia 2019 Site Web réalisé par <a href="http://www.revovision.ca/">Revovision.</a> Droits exclusifs à ses propriétaires.</p>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>