<footer>
    <div id="lgx-footer" class="lgx-footer-black"> <!--lgx-footer-white-->
        <div class="lgx-inner-footer">
            <!--<div class="lgx-subscriber-area ">
                <div class="container">
                    <div class="lgx-subscriber-inner">  -lgx-subscriber-inner-indiv
                        <h3 class="subscriber-title">Join Newsletter</h3>
                        <form class="lgx-subscribe-form" >
                            <div class="form-group form-group-email">
                                <input type="email" id="subscribe" placeholder="Enter your email address  ..." class="form-control lgx-input-form form-control"  />
                            </div>
                            <div class="form-group form-group-submit">
                                <button type="submit" name="lgx-submit" id="lgx-submit" class="lgx-btn lgx-submit"><span>Subscribe</span></button>
                            </div>
                        </form> <!--//.SUBSCRIBE--S
                    </div>
                </div>
            </div>-->
            <div class="container">
                <div class="lgx-footer-area" style="padding-top: 30px; padding-bottom: 25px;">
                    <div class="lgx-footer-single">
                        <a class="logo" href="/"><img src="/assets/img/logo_footer_en.png" alt="Logo" width="200px" height="200px"></a>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Follow Us Now</h3>
                        <!--<p class="text">
                            You should connect social area <br> for Any update
                        </p>-->
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="https://www.facebook.com/sarraouniaprix" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/YoungAdultPrize" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/sarraouniaprize/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            
                        </ul>
                    </div>
                    
                </div>

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <div class="col-md-6">
                            <p> <span>©</span> 2019 Sarraounia Prize for Young Adult Fiction 
                        </div>
                        <div class="col-md-6">
                            <p> Website designed by <a href="http://www.revovision.ca/">Revovision.</a></p>
                        </div>
                        
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>