<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed "> <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
            <div class="lgx-container"> <!--lgx-container-fluid-->
                <nav class="navbar navbar-default lgx-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="lgx-logo">
                            <a href="/" class="lgx-scroll">
                                <img src="/assets/img/logo_fr.png" alt="Sarraounia Prize" style="width: 100px; height: 100px;" />
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        
                        <div class="lgx-nav-right navbar-right">
                            <div class="lgx-cart-area">
                                <a class="lgx-btn lgx-btn-orange" href="/fr/register.html" style="
                                padding: 1rem 3rem; margin-top: 17px; background:#ecbc48;">S'inscrire</a>
                            </div>
                            
                        </div>
                        <ul class="nav navbar-nav lgx-nav navbar-right">
                            <li><a class="lgx-scroll" href="/fr.html">Acceuil</a></li>
                            <li>
                                <!--<a href="/fr/about" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos <span class="caret"></span></a>-->
                                <a href="/fr/about.html">A propos <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    
                                    <li><a href="/fr/about.html">Concours</a></li>
                                    <li><a href="/fr/guidelines.html">Règlement</a></li>
                                    <li><a href="/fr/jury.html">Jury</a></li>
                                </ul>
                            </li>
                            <li><a class="lgx-scroll" href="/fr/partners.html">Partenaires</a></li>
                            <li><a class="lgx-scroll" href="/fr/schedule.html">Programme</a></li>
                            <li><a class="lgx-scroll" href="#">Blog</a></li>
                            <li><a class="lgx-scroll" href="/fr/contact.html">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</header>
<!--HEADER END-->