<main>
    <div class="lgx-page-wrapper lgx-page-wrapper-none">

        <!--ABOUT-->
        <section>
            <div id="lgx-about" class="lgx-about">
                <div class="lgx-inner">
                    <div class="container">
                        <h3 class="sponsored-heading first-heading">Main Partners</h3>
                        <br><br>
                        <div class="row">
                            {% assign partnerss = site.partners | where:"type", "main_partners" %}
                            
                            {% for partner in partnerss %}
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                <div class="col-sm-6 col-md-6">
                                    <div class="lgx-about-img">
                                        <img src="{{ partner.logo }}" alt="about" width="235px" height="159px">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading">
                                            <h3>{{ partner.name }}</h3>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text text-justify">
                                                {{ partner.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div><!-- //.CONTAINER -->
                </div><!-- //.INNER -->
            </div>
        </section>
        <!--ABOUT END-->
    </div>
</main>
<main>
    <div class="lgx-page-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row" style="margin-top: 9rem">
                    <div class="col-xs-12">
                        <h3 class="sponsored-heading first-heading">Partners and Sponsors</h3>
                        <div class="sponsors-area sponsors-area-bg">
                            {% assign partnerss = site.partners | where:"type", "other_partners" %}
                            
                            {% for partner in partnerss %}
                            <div class="single">
                                <a class="" href="{{ partner.link }}"><img src="{{ partner.logo }}" alt="sponsor" width="222px" height="122px" /></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--//col-->
                </div>
               

            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>