<main>
    <div class="lgx-page-wrapper lgx-page-wrapper-none">

        <!--ABOUT-->
        <section>
            <div id="lgx-about" class="lgx-about">
                <div class="lgx-inner" style="padding-top: 60px; padding-bottom: 0px;">
                    <div class="container">
                        <h2 class="heading" style="color: #777;text-align: center;">{{ page.title }}</h2>
                        <br><br>
                        <div class="row">
                            {% assign partnerss = site.partners | where:"type", "main_partners" | where:"lang", page.lang %}
                            
                            {% for partner in partnerss %}
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                
                                    <div class="lgx-about-img" style="display: inline-block; vertical-align: middle;">
                                        <a href="{{ partner.link }}" target="blank">
                                            <img src="{{ partner.logo }}" alt="about" width="235px" height="auto" style=" float: left; margin-right: 10px; margin-bottom: 10px">
                                        </a>
                                        <p class="text partners-custom">
                                                {{ partner.content }}
                                            </p>
                                    </div>
                                
                                <!--div class="col-sm-6 col-md-6">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading" style="margin-bottom: 0px">
                                            <h3>{{ partner.name }}</h3>
                                            <!--a href="{{ partner.link }}" target="blank">
                                                {% if page.lang == "fr" %}
                                                    Visitez le site web
                                                {% endif %}
                                                {% if page.lang == "en" %}
                                                    Visit website
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="lgx-about-content" style="">
                                            <p class="text " style="float: left;">
                                                {{ partner.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                            {% endfor %}
                        </div>
                    </div><!-- //.CONTAINER -->
                </div><!-- //.INNER -->
            </div>
        </section>
        <!--ABOUT END-->
    </div>
</main>
<!--VIDEO-->
<section>
    <div  style="text-align: center; background-color: white;">

        <img src="{{ page.financial_partners }}" alt="{{ page.title }}" >
    </div>
</section>

<!--//.VIDEO END-->
<main>
    <div class="lgx-page-wrapper lgx-page-wrapper-none"  style=" padding-bottom: 60px; background-color: white;">
        <!--News-->
        <section  style="padding-top: 0px; padding-bottom: 0px;>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--h3 class="sponsored-heading first-heading">{{ page.simple_partners_title }}</h3>-->
                        <div class="sponsors-area sponsors-area-bg">
                            {% assign partnerss = site.partners | where:"type", "other_partners" | where:"lang", page.lang %}
                            
                            {% for partner in partnerss %}
                           <a href="{{ partner.link }}" target="blank"><img src="{{ partner.logo }}" alt="partner" width="120px" height="auto" style="margin: 15px;" /></a>
                            {% endfor %}
                        </div>
                    </div>
                    <!--//col-->
                </div>
               

            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>