<main>
    <div class="lgx-page-wrapper lgx-page-wrapper-none">

        <!--ABOUT-->
        <section>
            <div id="lgx-about" class="lgx-about">
                <div class="lgx-inner" style="padding-top: 60px; padding-bottom: 0px;">
                    <div class="container">
                        <h2 class="heading" style="color: #000;text-align: center;">{{ page.title }}</h2>
                        <br><br>
                        
                            {% assign partnerss = site.partners | where:"type", "main_partners" | where:"lang", page.lang | sort: "position" %}
                            
                            {% for partner in partnerss %}
                            {% if partner.hidden == false %}
                            <div class="row" style="padding-bottom: 40px;">
                                <div class="col-md-4 col-sm-6" style="padding-bottom: 15px; margin-left: 4rem;">
                                        <a href="{{ partner.link }}" target="blank">
                                            <img src="{{ partner.logo }}" alt="about" width="350px" height="auto" style=" float: left; margin-right: 10px; margin-bottom: 10px">
                                        </a>
                                        
                                </div>
                                <div class="col-md-7 col-sm-6 partners-custom" style="margin-right: 4rem;">
                                    <p class="text " style="color: #000" >
                                        {{ partner.content }}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        
                    </div><!-- //.CONTAINER -->
                </div><!-- //.INNER -->
            </div>
        </section>
        <!--ABOUT END-->
    </div>
</main>

<section>
    <div  style="text-align: center; background-color: white;">

        <img src="{{ page.financial_partners }}" alt="{{ page.title }}" >
    </div>
</section>


<main>
    <div class="lgx-page-wrapper lgx-page-wrapper-none"  style=" padding-bottom: 60px; background-color: white;">
        <!--News-->
        <section  style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 simple-partners">
                       <p class="">{{ page.simple_partners_title }}</p>
                        <div class="sponsors-area sponsors-area-bg">
                            {% assign partnerss = site.partners | where:"type", "other_partners" | where:"lang", page.lang | sort: "position" %}
                            
                            {% for partner in partnerss %}
                            {% if partner.hidden == false %}
                           <a href="{{ partner.link }}" target="blank"><img src="{{ partner.logo }}" alt="partner" width="240px" height="auto" style="margin: 15px;" /></a>
                           {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!--//col-->
                </div>
               

            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>