---
layout: default
---
<!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner" style="background: url('{{ page.parallax_image }}') center center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">{{ page.title }}</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">{{ page.title }}</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper lgx-page-wrapper-none">

            <!--ABOUT-->
            <section>
                <div id="lgx-about" class="lgx-about">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="lgx-about-img">
                                        <img src="{{ page.left_image }}" alt="about">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading">
                                            <h2 class="heading">{{ page.main_title }}</h2>
                                            <h3 class="subheading">{{ page.second_title }}</h3>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text text-justify">
                                                {{ page.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--ABOUT END-->

            <!--SPEAKERS-->
            <section>
                <div id="lgx-speakers" class="lgx-speakers">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">{{ page.jury_title }}</h2>
                                        <h3 class="subheading">{{ page.jury_subtitle }}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                        </div>
                        <!-- //.CONTAINER -->
                    </div>
                    <!-- //.INNER -->
                </div>
            </section>
            <!--SPEAKERS END-->

            <!--TESTIMONIALS -->
            <section>
                <div id="lgx-testimonial" class="lgx-testimonial">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">What Clients Say</h2>
                                        <h3 class="subheading">Welcome to the dedicated to building remarkable Testimonials!</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                <div id="lgx-owltestimonial" class="lgx-owltestimonial lgx-owlnews">

                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                </div><!--l//#lgx-OWL NEWS-->
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--TESTIMONIALS END-->
        </div>
    </main>
