---
layout: default
---
<!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">About Us</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">About</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper lgx-page-wrapper-none">

            <!--ABOUT-->
            <section>
                <div id="lgx-about" class="lgx-about">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="lgx-about-img">
                                        <img src="assets/img/about-logo.png" alt="about">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading">
                                            <h2 class="heading">Happy New Year 2019</h2>
                                            <h3 class="subheading">Why Happy New Year 2019 ?</h3>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text">
                                                Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.
                                            </p>
                                            <p class="text">
                                                Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.
                                                Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.
                                                Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--ABOUT END-->

            <!--SPEAKERS-->
            <section>
                <div id="lgx-speakers" class="lgx-speakers">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">Meet Our Experience Staff</h2>
                                        <h3 class="subheading">Welcome to the dedicated to building remarkable Speakers!</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="speakers.html"><img src="http://placehold.it/800x860" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="speaker.html">Jonathon Doe</a></h3>
                                                    <h4 class="subtitle">Ceo of LogicHunt</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                        </div>
                        <!-- //.CONTAINER -->
                    </div>
                    <!-- //.INNER -->
                </div>
            </section>
            <!--SPEAKERS END-->

            <!--TESTIMONIALS -->
            <section>
                <div id="lgx-testimonial" class="lgx-testimonial">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">What Clients Say</h2>
                                        <h3 class="subheading">Welcome to the dedicated to building remarkable Testimonials!</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                <div id="lgx-owltestimonial" class="lgx-owltestimonial lgx-owlnews">

                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>This is the best Restaurant in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                            <div class="author">
                                                <img src="http://placehold.it/83x83" alt="author">
                                                <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                </div><!--l//#lgx-OWL NEWS-->
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--TESTIMONIALS END-->
        </div>
    </main>
