---
layout: default
---
<!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner" style="background: url('{{ page.parallax_image }}') center center no-repeat; width: 1284px; height: 240px;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;">
            <div class="lgx-page-inner"  style="padding-top: 90px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">{{ page.title }}</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active" style="color: white;">{{ page.title }}</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->

        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper lgx-page-wrapper-none">

            <!--ABOUT-->
            <section>
                <div id="lgx-about" class="lgx-about">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="lgx-about-img">
                                        <img src="{{ page.left_image }}" alt="about">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading">
                                            <h2 class="heading">{{ page.main_title }}</h2>
                                            <h3 class="subheading">{{ page.second_title }}</h3>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text text-justify">
                                                {{ page.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--ABOUT END-->

            <!--SPEAKERS-->
            <section>
                <div id="lgx-speakers" class="lgx-speakers">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">{{ page.jury_title }}</h2>
                                        <h3 class="subheading">{{ page.jury_subtitle }}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                {% assign juries = site.juries | where:"lang", page.lang %}
                                {% for jury in juries %}
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="lgx-single-speaker">
                                        <figure>
                                            <a class="profile-img" href="{{ jury.image }}"><img src="{{ jury.image }}" alt="Speaker"/></a>
                                            <figcaption>
                                                <div class="social-group">
                                                    <a class="sp-tw" href="{{ jury.twitter_link }}"><i class="fa fa-twitter"></i></a>
                                                    <a class="sp-fb" href="{{ jury.facebook_link }}"><i class="fa fa-facebook"></i></a>
                                                    <a class="sp-insta" href="{{ jury.wikipedia_link }}"><i class="fa fa-instagram"></i></a>
                                                    <a class="sp-in" href="{{ jury.linkedin_link }}"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="speaker-info">
                                                    <h3 class="title"><a href="/speaker.html" target="blank">{{ jury.name }}</a></h3>
                                                    <h4 class="subtitle">{{ jury.job_position }}</h4>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--//.ROW-->
                        </div>
                        <!-- //.CONTAINER -->
                    </div>
                    <!-- //.INNER -->
                </div>
            </section>
            <!--SPEAKERS END-->

            <!--TESTIMONIALS -->
            <section>
                <div id="lgx-testimonial" class="lgx-testimonial" style="background: url('{{ page.jury_background_image }}') bottom left no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-heading">
                                        <h2 class="heading">{{ page.testimonial_title }}</h2>
                                        <h3 class="subheading">{{ page.testimonial_subtitle }}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--//.ROW-->
                            <div class="row">
                                <div id="lgx-owltestimonial" class="lgx-owltestimonial lgx-owlnews">
                                    {% assign testimonials = site.testimonials | where:"lang", page.lang %}
                                    {% for testimonial in testimonials %}
                                    <div class="item">
                                        <!--Testimonial-single-->
                                        <blockquote class="lgx-testi-single">
                                            <p><span>{{ testimonial.title }}</span> {{ testimonial.content }}</p>
                                            <div class="author">
                                                <img src="{{ testimonial.image }}" alt="author">
                                                <h4 class="title"><a href="#"></a>{{ testimonial.name }}</h4>
                                                <div class="rate">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </blockquote> <!--//.Testimonial-single-->
                                    </div> <!--//.Item-->
                                    {% endfor %}
                                </div><!--l//#lgx-OWL NEWS-->
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--TESTIMONIALS END-->
        </div>
    </main>
