---
layout: default
---
   <!--Banner Inner-->
    {%- include parallax-section.html -%}

    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-md-offset-3">

                            <form action="{{ page.form_link }}" target="_self"  method="POST">
                                <div class="form-group">
                                    <input type="text" name="{{ page.name }}" class="form-control lgxname" placeholder="{{ page.name_ph }}" required>
                                    
                                </div>

                                <div class="form-group">
                                    <input type="email" name="{{ page.email }}" class="form-control lgxemail" placeholder="{{ page.email_ph }}" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="{{ page.subject }}" class="form-control lgxsubject" placeholder="{{ page.subject_ph }}" required>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control lgxmessage" name="{{ page.message }}" rows="5" placeholder="{{ page.message_ph }}" required></textarea>
                                </div>


                                <!--<button type="submit" name="submit" value="contact-form" class="lgx-btn hvr-glow hvr-radial-out lgxsend lgx-send"><span>Send Massage</span></button>-->
                                <button type="submit" name="{{ page.submit_button_title }}" value="contact-form" class="lgx-btn hvr-glow hvr-radial-out"><span>{{ page.submit_ph }}</span></button>
                                <!--<input value="{{ page.submit_button_title }}" class="wpcf7-form-control wpcf7-submit lgx-submit" type="submit">-->
                            </form>

                            <!-- MODAL SECTION -->
                            <div id="lgx-form-modal" class="modal fade lgx-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content lgx-modal-content">
                                        <div class="modal-header lgx-modal-header">
                                            <button type="button" class="close brand-color-hover" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="alert lgx-form-msg" role="alert"></div>
                                        </div> <!--//MODAL BODY-->

                                    </div>
                                </div>
                            </div> <!-- //MODAL -->

                        </div> <!--//.COL-->
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>

