---
layout: default
---
<!--Banner Inner-->
<section>
    <div class="lgx-banner " style="background: url('{{ page.parallax_image }}') center center no-repeat; width: auto; height: 240px;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;">
        <div class="lgx-page-inner" style="padding-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white" style="margin-bottom: 70px;">
                                <h2 class="heading">{{ page.description }}</h2>
                            </div>
                            <ul class="breadcrumb" >
                                {% if page.lang =="en" %}
                                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                                <li><a href="/{{ page.lang }}/about">About</a></li>
                                {% endif %}
                                {% if page.lang =="fr" %}
                                <li><a href="/fr"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>
                                <li><a href="/{{ page.lang }}/about">A propos</a></li>
                                {% endif %}
                                <li class="active">{{ page.title }}</li>
                            </ul>
                            
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section> <!--//.Banner Inner-->
<main>
    <div class="lgx-post-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <article>
                            
                            <section >
                                {{ page.content }}
                            </section>
                            
                        </article>
                    </div>
                </div>
                <div class="lgx-inner" style="padding-top: 60px; padding-bottom: 60px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="lgx-about-content-area lgx-about-content-area-center">
                                    
                                    <div class="lgx-about-content">
                                        <div class="section-btn-area">
                                            <a class="lgx-btn" href="{{ page.button_link }}" target="blank">{{ page.button_title }}</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- //.CONTAINER -->
                </div><!-- //.INNER -->
            </div><!-- //.CONTAINER -->

        </section>
        <!--News END-->
        

    </div>
</main>

