---
layout: default
---
<!--Banner Inner-->
<section>
    <div class="lgx-banner " style="background: url('{{ page.parallax_image }}') center center no-repeat; width: auto; height: 240px;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;">
        <div class="lgx-page-inner" style="padding-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white" style="margin-bottom: 70px;">
                                <h2 class="heading">{{ page.name }}</h2>
                            </div>
                            <ul class="breadcrumb" >
                                {% if page.lang =="en" %}
                                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                                <li><a href="/{{ page.lang }}/about">About</a></li>
                                {% endif %}
                                {% if page.lang =="fr" %}
                                <li><a href="/fr"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>
                                <li><a href="/{{ page.lang }}/about">A propos</a></li>
                                {% endif %}
                                <li><a href="/{{ page.lang }}/jury">Jury</a></li>
                                <li class="active">{{ page.name }}</li>
                            </ul>
                            
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section> <!--//.Banner Inner-->
<main>
        <div class="lgx-post-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <article>
                                <header>
                                    <figure>
                                        <img src="{{ page.image }}" alt="{{ page.name }}"/>
                                    </figure>
                                    <div class="text-area">
                                        <div class="speaker-info">
                                            <h1 class="title">{{ page.name }}</a>
                                            <h4 class="subtitle">{{ page.job_position }}</h4>
                                        </div>
                                        <ul class="list-inline lgx-social">
                                            <li><a href="{{ page.twitter_link }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="{{ page.facebook_link }}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                            <li><a href="{{ page.linkedin_link }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="{{ page.fa-instagram_link }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </header>
                                <section>
                                    <p class="text-justify">
                                        {{ page.bio }}
                                    </p>
                                    
                                </section>
                                
                            </article>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>