---
layout: default
---
<!--Banner Inner--
    <section>
        <div class="lgx-banner lgx-banner-inner" style="
            background: url('/uploads/orange_black_christal_bg.jpg') center center no-repeat;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">{{ page.title }}</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li class="active">{{ page.title }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-post-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <article>
                                <header>
                                    <figure>
                                        <img src="{{ page.image }}" alt="{{ page.title }}"/>
                                    </figure>
                                    <div class="text-area">
                                        <div class="hits-area">
                                            <div class="date">
                                                <i class="fa fa-user"></i> {{ page.author }}
                                                <i class="fa fa-calendar"></i> {{ page.date | date: "%d/%m/%Y" }}
                                                <i class="fa fa-folder"></i> {{ page.categories }}
                                                
                                            </div>
                                        </div>
                                        <h1 class="title">{{ page.title }}</h1>
                                    </div>
                                </header>
                                <section>
                                    {{ page.content }}
                                </section>
                                <footer>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="title">Share</h4>
                                            <div class="lgx-share">
                                                <ul class="list-inline lgx-social">
                                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>
