---
layout: default
---
<!--Banner Inner-->
{%- include parallax-section.html -%}
<main>
    <div class="lgx-page-wrapper" style="padding: 5rem 0;">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">
                    <h2 class="heading" style="color: #777;text-align: center; padding-bottom: 5rem;">{{ page.title }}</h2>
                    {% for post in site.posts %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-news">
                            <figure >
                                <a href="{{ post.url }}" target="blank"><img src="{{ post.image }}" alt="{{ post.title }}" style="width: 328px; height: 219px;"></a>
                            </figure>
                            
                            <div class="single-news-info" style="width: 328px; height: 219px;">
                                {% if page.lang == "en"%}
                                    <div class="meta-wrapper">
                                        <span>{{ post.date | date: "%d/%m/%Y" }}</span>
                                        <span>by {{ post.author }}</span>
                                        <span><a href="#">{{ post.categories }}</a></span>
                                    </div>
                                    <h3 class="title" style="height: 80px;"><a href="{{ post.url }}" target="blank">{{ post.title }}</a></h3>
                                    <a class="lgx-btn lgx-btn-black lgx-btn-sm" href="{{ post.url }}" target="blank"><span>Read article</span></a>
                                {% endif %}

                                {% if page.lang == "fr" %}
                                    <div class="meta-wrapper">
                                        <span>{{ post.date | date: "%d/%m/%Y" }}</span>
                                        <span>par {{ post.author }}</span>
                                        <span><a href="#">{{ post.categories }}</a></span>
                                    </div>
                                    <h3 class="title" style="height: 80px;"><a href="{{ post.url }}" target="blank">{{ post.title }}</a></h3>
                                    <a class="lgx-btn lgx-btn-black lgx-btn-sm" href="{{ post.url }}" target="blank"><span>Lire l'article</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>