---
layout: default
---
<!--Banner Inner-->
<section>
    <div class="lgx-banner " style="background: url('{{ page.parallax_image }}') center center no-repeat; width: 100%; height: 240px;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;">
        <div class="lgx-page-inner" style="padding-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            
                            <ul class="breadcrumb">
                                {% if page.lang =="en" %}
                                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>                                    
                                {% endif %}
                                {% if page.lang =="fr" %}
                                <li><a href="/fr"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>                                    
                                {% endif %}
                                <li class="active">{{ page.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section> <!--//.Banner Inner-->
<main>
    <div class="lgx-page-wrapper" style="background-color: #1b273d;">
        <!--News-->
        <section>
            <div class="container">
                <div class="lgx-registration-form-box ">
                            <div class="container">
                            <div class="lgx-registration-form">
                                <p style="color: white;">{{ page.description }}</p><br><br>
                                <form action="{{ page.form_link }}" target="_self" id="usrform">
                                    <h3 class="title">{{ page.first_section_title }}</h3>
                                    <!-- Redirect the user to a custom URL 
                                    <input type="hidden" name="_redirect" value="<your-url>">-->
                                   <!-- Prevent spam without a captcha -->
                                    <input type="checkbox" name="_honeypot" style="display: none" tabindex="-1" autocomplete="off">
                                   <!-- All elements must have a name attribute -->
                                    <div style="border: 1px solid white;">
                                        <div style="margin: 25px;">
                                            <input name="{{ page.surname }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.surname_s_ph }}" type="text" >
                                            <input name="{{ page.birth_surname }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.birth_surname_s_ph }}" type="text" >
                                            <input name="{{ page.first_name_s_ }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.first_name_s_ph }}" type="text" >
                                            <input name="{{ page.birth_place }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.birth_place_ph }}" type="text" >
                                            <label for="{{ page.birthday }}" style="color: white;">Select {{ page.birthday_ph }}</label>
                                            <input name="{{ page.birthday }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.birthday_ph }}" type="date" style ="    background: #2c94ff66 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;">
                                            
                                            <label for="{{ page.birth_country }}" style="color: white;">Select {{ page.birth_country_ph }}</label>
                                            <select name="{{ page.birth_country }}" value="" class="wpcf7-form-control form-control" >
                                                {%- include countries.html -%}
                                            </select><br>
                                            <label for="{{ page.nationality }}" style="color: white;">Select {{ page.nationality_ph }}</label>
                                            <select name="{{ page.nationality }}" value="" class="wpcf7-form-control form-control" >
                                                {%- include countries.html -%}
                                            </select><br>
                                            <label for="{{ page.birth_nationality_ph }}" style="color: white;">Select {{ page.birth_nationality }}</label>
                                            <select name="{{ page.birth_nationality }}" value="" class="wpcf7-form-control form-control" >
                                                {%- include countries.html -%}
                                            </select>
                                                <br>
                                             <label for="{{ page.gender }}" style="color: white;">Select {{ page.gender }}</label>
                                            <select name="{{ page.gender }}" class="wpcf7-form-control form-control">
                                                {% for gender in page.gender_types %}
                                                    <option value="{{ gender.value }}">{{ gender.value }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                             <label for="{{ page.marital_status }}" style="color: white;">Select {{ page.marital_status }}</label>
                                            <select name="marital_status" class="wpcf7-form-control form-control">
                                                {% for status in page.marital_status_type %}
                                                    <option value="{{ status.value }}">{{ status.value }}</option>
                                                {% endfor %}
                                            </select><br>
                                            <input name="{{ page.minors_details }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.minors_details_ph }}" type="text" >
                                            <br>                                           
                                            <input name="{{ page.id_card_number }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.id_card_number }}" type="text" >
                                            <label for="{{ page.id_card_ }}" style="color: white;">{{ page.id_card_ }}</label>
                                            <input name="{{ page.id_card_ }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.id_card_ }}" type="date" style ="background: #2c94ff66 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;">
                                            <label for="{{ page.id_card_expiration_date }}" style="color: white;">{{ page.id_card_expiration_date }}</label>
                                            <input name="{{ page.id_card_expiration_date }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.id_card_expiration_date }}" type="date" style ="    background: #2c94ff66 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;"><br>
                                            <input name="{{ page.passport_number }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.passport_number }}" type="text" >
                                           
                                            <label for="{{ page.passport_date_of_issue }}" style="color: white;">{{ page.passport_date_of_issue }}</label>
                                            <input name="{{ page.passport_date_of_issue }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.passport_date_of_issue }}" type="date" style ="background: #2c94ff66 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;">
                                            <label for="{{ page.passport_expiration_date }}" style="color: white;">{{ page.passport_expiration_date }}</label>
                                            <input name="{{ page.passport_expiration_date }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.passport_expiration_date }}" type="date" style ="    background: #2c94ff66 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;">
                                           
                                            <input name="{{ page.passport_place_of_issue }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.passport_place_of_issue_ph }}" type="text">

                                            <input name="{{ page.permanent_home_address }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.permanent_home_address_ph }}" type="text" >
                                            <input name="{{ page.applicant_email_address }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.applicant_email_address_ph }}" type="email">
                                            <input name="{{ page.telephone_number_s_ }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.telephone_number_s_ph }}" type="text">
                                            <input name="{{ page.current_profession }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.current_profession_ph }}" type="text">
                                            <input name="{{ page.employer_or_student_info }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.employer_or_student_info_ph }}" type="text">
                                        </div>
                                    </div><br>
                                    <h3 class="title">{{ page.second_section_title }}</h3>

                                    <div style="border: 1px solid white;">
                                        <div style="margin: 25px;">
                                            <input name="{{ page.author_informations }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.author_informations_ph }}" type="text">
                                            
                                            <textarea name="{{ page.author_presentation }}" form="usrform" class="wpcf7-form-control form-control" style="margin-bottom: 20px;">{{ page.author_presentation_ph }}</textarea>
                                            <textarea name="{{ page.project_presentation }}" form="usrform" class="wpcf7-form-control form-control" style="margin-bottom: 20px;">{{ page.project_presentation_ph }}</textarea>
                                            <input name="{{ page.provisional_or_working_title }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.provisional_or_working_title_ph }}" type="text">
                                            <input name="{{ page.word_count }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.word_count_ph }}" type="text">
                                            <input name="{{ page.number_of_illustrations }}" value="" class="wpcf7-form-control form-control" placeholder="{{ page.number_of_illustrations_ph }}" type="text">
                                        </div>
                                    </div><br>
                                    <h3 class="title">{{ page.third_section_title }}</h3>

                                    <div style="border: 1px solid white;">
                                        <div style="margin: 25px;">
                                            <input type="checkbox" name="{{ page.validation }}" value="{{ page.validation }}" required> <h5 style="color: white; display: inline;">{{ page.validation_text }}</h5>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <input value="{{ page.submit_button_title }}" class="wpcf7-form-control wpcf7-submit lgx-submit" type="submit">
                                </form>
                            </div>
                            </div>
                        </div>
                    
            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>