---
layout: default
---
<!--Banner Inner-->
<section>
    <div class="lgx-banner " style="background: url('{{ page.parallax_image }}') center center no-repeat; width: 1284px; height: 240px;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;">
        <div class="lgx-page-inner" style="padding-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">{{ page.description }}</h2>
                            </div>
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                <li class="active">{{ page.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section> <!--//.Banner Inner-->
<main>
    <div class="lgx-page-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <div class="lgx-registration-form-box ">
                            <h3 class="title">Registration</h3>
                            <div class="lgx-registration-form">
                                <input name="text" value="" class="wpcf7-form-control form-control" placeholder="Your Name ..." type="text">
                                <input name="email" value="" class="wpcf7-form-control form-control" placeholder="Your E-mail ..." type="email">
                                <input name="text" value="" class="wpcf7-form-control form-control" placeholder="Mobile Number ..." type="text">
                                <input name="text" value="" class="wpcf7-form-control form-control" placeholder="Your Country ..." type="email">
                                <select name="your-browser" class="wpcf7-form-control wpcf7-select lgx-select">
                                    <option value="Personal - $39">Personal - $39</option>
                                    <option value="Business - $89">Business - $89</option>
                                    <option value="Premium - $189">Premium - $189</option>
                                </select>
                                <input value="Registration Now" class="wpcf7-form-control wpcf7-submit lgx-submit" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>